
<!doctype html>
<html lang="en" dir="ltr">

<!-- Mirrored from templates.iqonic.design/aprycot/html/dashboard/dist/dashboard/admin-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 18:20:43 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>menumotive | Restaurant Management Admin Template</title>

    <!-- Favicon -->
    @*<link rel="shortcut icon" href="https://templates.iqonic.design/aprycot/html/dashboard/dist/assets/images/favicon.ico" />*@

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/assetes/portal/assets/css/core/libs.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/assetes/portal/assets/css/aprycot.mine209.css?v=1.0.0">



    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="  " style="background:url(/assetes/portal/assets/images/dashboard.png);    background-attachment: fixed;
    background-size: cover;">
    

   
    <main class="main-content">
       
        @RenderBody();
       
    </main>


    <!-- Wrapper End-->
    <!-- offcanvas start -->
    <!-- Required Library Bundle Script -->
    <script src="/assetes/portal/assets/js/core/libs.min.js"></script>

    <!-- External Library Bundle Script -->
    <script src="/assetes/portal/assets/js/core/external.min.js"></script>

    <!-- Widgetchart JavaScript -->
    <script src="/assetes/portal/assets/js/charts/widgetcharts.js"></script>

    <!-- Mapchart JavaScript -->
    <script src="/assetes/portal/assets/js/charts/vectore-chart.js"></script>
    <script src="/assetes/portal/assets/js/charts/dashboard.js"></script>

    <!-- Admin Dashboard Chart -->
    <script src="/assetes/portal/assets/js/charts/admin.js"></script>

    <!-- fslightbox JavaScript -->
    <script src="/assetes/portal/assets/js/fslightbox.js"></script>

    <!-- GSAP Animation -->
    <script src="/assetes/portal/assets/vendor/gsap/gsap.min.js"></script>
    <script src="/assetes/portal/assets/vendor/gsap/ScrollTrigger.min.js"></script>
    <script src="/assetes/portal/assets/js/animation/gsap-init.js"></script>

    <!-- Stepper Plugin -->
    <script src="/assetes/portal/assets/js/stepper.js"></script>

    <!-- Form Wizard Script -->
    <script src="/assetes/portal/assets/js/form-wizard.js"></script>

    <!-- app JavaScript -->
    <script src="/assetes/portal/assets/js/app.js"></script>

    <!-- moment JavaScript -->
    <script src="/assetes/portal/assets/vendor/moment.min.js"></script>
    @RenderSection("scripts", false);
</body>

<!-- Mirrored from templates.iqonic.design/aprycot/html/dashboard/dist/dashboard/admin-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 18:21:29 GMT -->
</html>